:root {
    --colorNormal: #ffffcc;
    --colorImportante: #ec7063;
    --colorBackGround: rgb(224, 219, 219);
    --colorGrisOscuro: #111;
}

body {
    background: rgb(240,240,240);
background: linear-gradient(90deg, rgba(240,240,240,0.819765406162465) 4%, rgba(199,212,230,0.5536589635854341) 71%, rgba(14,14,13,0.34637605042016806) 97%);
}

.btn-agregar {
    width: 200px;
    text-transform: capitalize;
} 

/* .input-group {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
#tarea {
    width: 100px;
    margin-bottom: 10px;
    margin-right: 30px;
}
#comentario {
    width: 200px;
    margin-right: 50px;
    margin-bottom: 10px;
}
*/
.checkmark {
    height: 25px;
    width: 25px;
    margin-right: 200px;
    text-align: center;
} 

.text-blanco {
    color: #fff;
    padding-left: 10px;
}


/* Post It */

h2,
p {
    font-size: 100%;
    font-weight: normal;
}

ul,
li {
    list-style: none;
}

ul {
    overflow: hidden;
    padding: 4em;
}

ul li a {
    text-decoration: none;
    color: var(--colorGrisOscuro);
    background: var(--colorNormal);
    display: block;
    height: 15em;
    width: 15em;
    padding: 1em;
    /* Firefox */
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
}

ul li {
    padding-top: 2em;
    padding-bottom: 2em;
    float: left;
}

ul li h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}

ul li p {
    font-family: "Reenie Beanie", arial, sans-serif;
    font-size: 180%;
}

ul li a {
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

ul li:nth-child(even) a {
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
}

ul li:nth-child(3n) a {
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
}

ul li:nth-child(5n) a {
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    top: -10px;
}

ul li a:hover,
ul li a:focus {
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index: 5;
}


/* Centrar elementos en pantalla */

.importante {
    background: var(--colorImportante);
}

.botonX {
    float: right;
    background: rgba(0, 0, 0, 0);
    border-style: none;
}


/* No cambiar de color en hover */

ul li a:hover {
    color: #111;
}

